@media only screen and (max-width: 1500px)
@media only screen and (max-width: 1366px)
@media only screen and (max-width: 1280px)
  .online_bottom__image-wrapper
    max-width: 60%
    img
      transform: unset
@media only screen and (max-width: 1148px)
@media only screen and (max-width: 1024px)
  .online_bottom
    margin-top: 24px
    flex-direction: column-reverse
    &__image-wrapper
      margin: 0 auto
      max-width: unset
    &__text-wrapper
      display: flex
      gap: 20px
      & > div
        flex: 1

@media only screen and (max-width: 960px)
@media only screen and (max-width: 864px)
@media only screen and (max-width: 768px)
  .techpark__partners__content
    flex-direction: column
    align-items: center
  .techpark__production
    margin-bottom: 60px
    &__item
      &__main
        flex-direction: column
      &__image-wrapper
        display: none
        &.mobile
          margin: 0 auto
          display: block
          max-width: 60%
      &__button-wrapper
        text-align: center

  .online_top__header__title
    text-align: left

  .why
    &__list
      grid-template-columns: repeat(2, 1fr)
  .online_top
    flex-direction: column
    &__benefits__item
      margin-top: 16px
    &__main p
      margin-top: 0.25em
@media only screen and (max-width: 640px)
  .techpark__production
    &__item__equipment
      gap: 16px
    .section__header
      display: none
  .why
    &__item
      padding: 12px
  .online_bottom
    &__text-wrapper
      flex-direction: column
    &__how
      width: unset
    &__resume
      margin: 0
@media only screen and (max-width: 560px)
@media only screen and (max-width: 480px)
  .techpark__partners__card
    &__content
      padding: 16px
    &__image-wrapper
      height: unset
  .techpark__production__item
    &__about > p
      font-size: 16px
    &__header__text
      font-size: 16px
    &__equipment
      margin: 22px 0
      flex-direction: column
      gap: 32px
  .online_top
    &__main p
      font-size: 16px
    &__benefits__item p
      font-size: 14px
  .why__item
    padding: 22px
    grid-column: span 2
    &:not(:last-child)
      padding-right: 80px
  .mailing__banner
    padding: 16px
    flex-direction: column-reverse
@media only screen and (max-width: 375px)
